# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
dist-ssr
*.local

# Terraform / OpenTofu
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.zip
.terraform.lock.hcl

# Git Worktrees
*-worktree/
fix-workout-deletion-permissions/
set-frontend-ui-fix/
tmp_target/
tmp_venv/
