# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
dist-ssr
*.local

# Terraform / OpenTofu
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.zip
.terraform.lock.hcl

# Git Worktrees (Prevent accidental internal worktrees)
*-wt/
*-worktree/

