fastapi
uvicorn
mangum
boto3
pydantic
python-dotenv
structlog
python-jose[cryptography]
requests
httpx
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-instrumentation-botocore==0.51b0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation-logging==0.51b0
